<h1>All Posts</h1>

<% @posts.each do |post| %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <%= post.title %>
      </div>
      <div class="panel-body">
        <h3><%= post.body %></h3>
        <small><%= post.created_at.in_time_zone.strftime("%m/%d/%Y at %I:%M%p") %></small>
      </div>
    </div>
  </div>
  <hr>
  <br>
<% end %>
